{% extends 'blog_base.html' %}



{% block content %}

       

      {% for post in object_list %}
        	
<div class="card mb-3" style="font-family: 'Vazir';">
  <div class="row g-0"  style="margin: 20px;">
    <div class="col-md-4" style="font-family: 'Vazir';">
      <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="..." style="max-height: 300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="font-family: 'Vazir';">
        <center>
        <h5 class="card-title" style="font-family: 'Vazir';">{{ post.title }} توسط {{ post.author }}</h5>
        
        <br/>
        <p class="card-text justified" style="font-family: 'Vazir';">{{ post.snippet | safe | slice:":200" }}...</p>
        <br><br>
        <form action="{% url 'visit_post' post.pk %}" method="POST"></form>
          <a href="{% url 'blog_detail' post.pk %}" class="btn btn-secondary"><button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-secondary">بیشتر بخوانید</button></a>
          
        </form>
    </center>
      </div>
    </div>
  </div>
</div> 
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center" >
      {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
  </ul>
</nav>

{% endblock %} 

