{% extends 'blog_base.html' %}


{% block content %}

        
      {% if user.is_authenticated %}
        {% if user.id == post.author.id %}      
        	
            <div class="card mb-3">
                <div class="row g-0"  style="margin: 200px;">
                    <div class="col-md-4">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-success">ثبت تغییرات</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            You are Not allowed to edit this post
        {% endif %}
    {% else %}
        You are not allowed here
    {% endif %}
{% endblock %}