{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<!-- Header-->

<br><br><br>
<div class="container">
    <div class="row">
        <center>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group" style="width: 35%;">
                        
                    {% render_field form.old_password class="form-control" placeholder="رمزعبور قبلی" type="password" %}
                </div>
                <br>
                <div class="form-group" style="width: 35%;">
                        
                    {% render_field form.new_password1 class="form-control" placeholder="رمزعبور جدید" type="password" %}
                </div>
                <br>
                <div class="form-group" style="width: 35%;">
                        
                    {% render_field form.new_password2 class="form-control" placeholder="تایید رمزعبور جدید" type="password" %}
                </div>
                <br>
                <button type="submit" class="btn btn-secondary">تغییر رمز</button>
                <br><br>
            </form>
        </center>
    </div>
</div>

{% endblock %}